body{
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction:column
}
header ul{
        display: flex;
        justify-content: space-evenly;
        padding: 0;
        margin: 0;
        background-color: #155263;
}
li{
    list-style-type: none;
    padding: 15px;
    color: #ff6f3c;
    font-size: 30px;
}
ul{
    margin: 0;
}
main{
    align-items: center;
    background: #155263
}
h1{
    font-size: 50px;
    color: #ff6f3c;
}
h2{
    font-size: 40px;
    color: #ff6f3c;
}
p{
    font-size: 30px;
    text-align: center;
    color: #ff9a3c;
}
#one{
    float: left;
    width: 30%;
    margin-right: 40px;
    margin-left: 50px;
    text-align: center;
    border-style: ridge;
    border-width: 5px;
    border-radius: 7px;
    border-color: #ffc93c;
    background-color: black;
}
#two{
    float: left;
    width: 30%;
    margin-right: 40px;  
    text-align: center;
    border-style: ridge;
    border-width: 5px;
    border-radius: 7px;
    border-color: #ffc93c;
    background-color: black;
}
#three{
    float: left;
    width: 30%;
    text-align: center;
    border-style: ridge;
    border-width: 5px;
    border-radius: 7px;
    border-color: #ffc93c;
    background-color: black;
}
#four{
    clear:both;
    margin-right: 40px;
    text-align: center;
    float: left;
    width: 50%;
    padding-bottom: 40px;
}
label{
    font-size: 25px;
    color: #ff9a3c;
    display:inline-block;
    width:100px;
    text-align: left;
}
a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}
a:hover{
    color: #ffc93c;
    text-decoration: underline;
}
a:active {
    color: #ffc93c;
    text-decoration: underline;
}
/*button{
    width: 200px;
    height: 50px;
    font-size: 100x;
    font-weight: bold;
    background-color: #ffc93c;
    color: #ff6f3c;
}*/
#five{
    display: inline-block;
    padding-bottom: 40px;
    
}
footer{
    background-color:#ff6f3c;
    color: #ffc93c;
}
table{
    font-size: 20px;
}
